<form action="/" method="post">
    <label for="fname">First name:</label><br>
    <input type="textarea" id="fname" name="fname" value=""><br><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br><br>

    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value=""><br><br>

    <input type="submit" value="Submit">
    <input type="button" onclick="location.href='./view_data';" value="View DB" />
  </form>


  